
@font-face {
  font-family: Poppins;
  src: url(./assets/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
/* overflow:hidden; */
}

.flex { 
  display: flex;
  justify-content: center;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: url(./assets/weatherbg.jpg);
  background-size: cover;
}
.weather {
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  background: rgba(0, 0, 0, 0.377);
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  border: 1px solid white;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.search-bar input {
  border: 0;
  width:80%;
  outline: 0;
  height: 50px;
  border-radius: 40px;
  padding-inline-start: 25px;
  color: #626262;
  background: #ebfffc;
}
.search-bar div {
  height: 50px;
  display: flex;
  justify-content: center;
  width: 50px;
  padding: 15px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.weather-icon {
  width: 150px;
  margin: 30px 0;
}
.weather .temp {
  color:#fff;
  font-size: 80px;
  line-height: 1;
}
.location {
  color: #fff;
  font-size: 40px;
}
.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}
.weather-data .col span {
  display: block;
  font-size: 16px;
}
.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}
.dev {
  text-align: center;
  color: white;
  margin-top: 10px;
}
.auth-form {
  width: 90%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  padding: 20px 40px ;
  background: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(5px);
  border: 1px solid white;

}
.auth-form h1 {
  color: #fff;
  margin-bottom: 20px;
}
form input {
  background-color: #f8f6f6;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 30px;
  border: 0;
  outline: 0;
}
form .buttons {
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
  
}
.buttons button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  overflow: hidden;
  position: relative;
  outline: 0;
  border:1px solid white;
  isolation: isolate;
  transition: all .7s ease

}
.buttons button:hover {
  color: black;
}
.buttons button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: -150%;
  background-color: white;
  border-radius: 50%;
  transform: scale(1.5);
  z-index: -1;
  transition: all .7s ease
}
.buttons button:hover::before {
  left: 0;
}
.buttons .not {
  background-color: white;
  color: black;
}
.buttons .not::before {
  background-color: black;
}
.buttons .not:hover {
  color: white;
}
.google-sign-in {
  width: 210px;
  margin:auto;
  cursor: pointer;
  margin-top: 20px;
}
@media (max-width:600px) {
  .google-sign-in, .buttons button, .search-bar div {
    cursor: none;
  }
 .weather {
    width: 95%;
     border:0;
    padding:25px
  }
  .weather-icon {
    width: 120px;
    margin: 20px;
  }
  .location {
    font-size: 30px;
  }
  .weather .temp {
    font-size: 70px;
  }
  .auth-form {
    padding-inline:10px;
}}
